@import url("https://fonts.googleapis.com/css?family=Cardo:400,400italic,700|Roboto:400,300,500,700");
.primary {
  background-color: #2f3f70;
}
* {
  box-sizing: border-box;
  font-family: Roboto;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
#app,
#content,
#react-root {
  width: 100%;
  height: 100%;
}
#main-mockup {
  background-color: #2f3f70;
}
#main-mockup .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-top: 50px;
}
#main-mockup .text p {
  color: #fff;
  width: 65%;
  text-align: left;
}
#main-mockup img {
  padding: 0px;
}
#sign-in {
  margin-top: 20px;
}
#sign-in a {
  color: #fff;
  text-decoration: underline;
}
#about-us {
  color: #2f3f70;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-us .contact-list {
  display: flex;
  justify-content: space-around;
}
.more-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary {
  background-color: #2f3f70;
}
#benefits {
  color: #2f3f70;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#benefits .link {
  text-decoration: underline;
}
#curious {
  background-color: #fff;
}
#curious h3 {
  color: #2f3f70;
  font-weight: bold;
}
#curious p {
  color: #2f3f70;
}
#malibu {
  background-color: #253256;
}

.primary {
  background-color: #2f3f70;
}

.primary {
  background-color: #2f3f70;
}
.contact {
  margin-left: 5px;
  margin-right: 5px;
}
.contact h5,
.contact p {
  color: #fff;
}
.contact p {
  font-size: 12px;
}
.contact img {
  width: 100px;
  height: 100px;
  padding: 0;
}

.primary {
  background-color: #2f3f70;
}
footer.page-footer {
  background-color: #2f3f70;
}
footer h5,
footer h4,
footer p {
  color: #fff;
}
footer p {
  font-size: 15px;
}
footer a {
  font-weight: 300;
  font-size: 16px;
  text-decoration: underline;
  margin-right: 30px;
}

.primary {
  background-color: #2f3f70;
}
#main-mockup * {
  color: #fff;
}
#main-mockup h3 {
  font-weight: bold;
  text-alight: center;
}

.primary {
  background-color: #2f3f70;
}
.navbar-fixed .brand-logo {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-fixed li {
  font-weight: 300;
}

.primary {
  background-color: #2f3f70;
}
#problems {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#problems .problems-and-header {
  display: flex;
  align-items: center;
}
#problems .problems-list {
  display: flex;
  align-items: flex-start;
}
#problems div {
  color: #2f3f70;
}
#problems a {
  text-decoration: underline;
  margin-top: 20px;
}
#problems i {
  font-size: 80px;
}
#problems .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}
#problems .header h4 {
  font-weight: 300;
  text-align: center;
}
.problem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 10px;
}
.no-margin-bot {
  margin-bottom: 0px;
}
#problem-page-link-out {
  margin-bottom: 40px;
}
/* Small screens */
@media all and (max-width: 500px) {
  #problems .problems-and-header {
    flex-direction: column;
  }
  #problems .problems-list {
    flex-direction: column;
  }
  #problems .header {
    margin-right: 0px;
  }
  .problem {
    width: 100%;
  }
}

.primary {
  background-color: #2f3f70;
}
#h {
  background: url("./img/hero.jpg") no-repeat center center fixed;
  width: 100%;
  background-size: cover;
  position: relative;
}
#top .one-liner {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
#top .long-desc {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#top .long-desc p {
  color: #fff;
  width: 50%;
}
.shadow {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*# sourceMappingURL=app.css.map*/