/*
 * Author: Adrian Li
 *
 * Project Name: Olis
 * URL: http://OlisApp.com
 * Version: 1.0
 */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:900,700,400);

/*  ################################################################
  0. CUSTOM STYLES
################################################################# */

.shadowed {
    /*-webkit-filter: drop-shadow(12px 12px 15px rgba(0,0,0,0.25));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
}

@media (min-width: 768px) {
	.mt-md {margin-top: 50px;}
	.mt2-md {margin-top: 100px;}
	.mb-md {margin-bottom: 50px;}
	.mb2-md {margin-bottom: 100px;}
	.mtb-md {margin-top: 50px; margin-bottom: 50px;}
	.mtb2-md { margin-top: 100px; margin-bottom: 100px;}
	.ptb-md {padding-top: 80px; padding-bottom: 80px;}

  .pull-right-md {
      float: right;
  }
	.pad-left-50-md {
		padding-left: 50px;
	}

	.pad-right-50-md {
		padding-right: 50px
	}
}

.view-sources:hover {
	cursor: pointer;
	text-decoration: underline;
}

.small-seg {
	height: 5px;
	width: 48px;
	display: inline-block;
}

@media screen and (min-width: 768px) {
	.small-seg {
		width: 80px;
	}
}

.spice1 {
	color: #FF0092;
}

.spice2 {
	color: #FAB127;
}

.spice3 {
	color: #BA01FF;
}

.spice4 {
	color: #228DFF;
}

.spice5 {
	color: #89E026;
}

.bb-spice1 {
	border-bottom: 3px solid #FF0092;
}
.bb-spice2 {
	border-bottom: 3px solid #FAB127;
}
.bb-spice3 {
	border-bottom: 3px solid #BA01FF;
}
.bb-spice4 {
	border-bottom: 3px solid #228DFF;
}
.bb-spice5 {
	border-bottom: 3px solid #89E026;
}

.spice1-bg {
	background-color: #FF0092;
}

.spice2-bg {
	background-color: #FAB127;
}

.spice3-bg {
	background-color: #BA01FF;
}

.spice4-bg {
	background-color: #228DFF;
}

.spice5-bg {
	background-color: #89E026;
}

.grey-bg {
	background-color: #A6A6A6;
}

.data-text {
	padding-top: 35px;
	padding-bottom: 35px;
}

.lg-text {
	font-size: 60px;
}

@media screen and (min-width: 768px) {
	.lg-text {
		font-size: 120px;
	}
}

.lg-text {
	font-size: 60px;
	font-weight: 700;
}

@media screen and (min-width: 768px) {
	.lg-text {
		font-size: 120px;
		font-weight: 700;
	}
}

.xl-text {
	font-size: 240px;
}

/* Language Links */

.lang-links {
	color: white;
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.lang-links a {
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}

.lang-links a.disabled {
	color: #CCCCCC;
}

@media screen and (min-width: 768px) {
	.lang-links {
		top: 15px;
		right: 15px;
		left: auto;
		margin: auto;
	}

	.lang-links a {
		margin-right: 10px;
	}	
}

h1 {
  font-size: 60px;
}

#h h1.logo-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: 700;
}

#h {
  min-height: none;
}

@media screen and (min-width: 768px) {
  #h h1.logo-text {
    font-size: 160px;
  }
  #h {
    min-height: 650px;
  }
}

/* Grey Section */
#g {
	padding: 80px -15px;
  background: #e0e0e0;
}

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Raleway', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
	font-weight: 700;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mt2 {margin-top: 100px;}
.mb {margin-bottom: 50px;}
.mb2 {margin-bottom: 100px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #6BB9F0;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin-left: 0px;
	margin-right: 0px;
	/*margin: 0px;*/
}

/* Bootstrap Modification */

.navbar-inverse {
	background: transparent;
	border: transparent;
}

img {
	margin: auto;
	padding-bottom: 10px;
}

/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 100%;
	text-align: left;
	margin-right: 2px;
}

@media screen and (min-width: 768px) {
	.subscribe-input {
		width: 65%;
	}
}

.subscribe-submit {
	right: 0;
}


.btn-register {
	margin-top: 15px;
	border-radius: 50px;
	margin-right: 10px;
	top: 0px;
	float: right;
	font-size: 16px;
}

.btn-sub {
	border-radius: 50px;
}

/* Overall Buttons*/
.btn-theme {
	border-radius: 50px;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-white {
	background: white;
	color: #2f2f2f;
}

.btn-white:hover {
	background: #2f2f2f;
	color: white;
}

/* HEADER SECTION */
#h {
	/*background: url(../img/header.jpg) no-repeat center top;*/
  background-color: #12A5F4;
	padding-top: 10px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	color: white;
	font-weight: 900;
	font-size: 70px;
	letter-spacing: 5px;
}

#h h3 {
	color: white;
	font-weight: 400;
}

#h img {
	padding-bottom: 0px;
}

/* White Section */
#w {
	background: white;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

#w p {
	color: #9f9f9f;
	font-size: 16px;
}


/* Blue Section - Picton */
#picton {
	background: #59ABE3;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#picton p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Curious */
#curious {
	background: #3498DB;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#curious p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Malibu */
#malibu {
	background: #6BB9F0;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#malibu p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Jelly */
#jelly {
	background: #2574A9;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#jelly p {
	color: #e9e9e9;
	font-size: 16px;
}

#jelly h1 {
	font-size: 200px;
}

#jelly h3 {
	margin-top: 10px;
}

/* FOOTER */
#f {
	/*background: #2f2f2f;*/
	background: #e0e0e0;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

#f  h1 {
	font-size: 36px;
}

@media screen and (min-width: 768px) {
	#f h1 {
		font-size: 60px;
	}
}

#f h4 {
	font-weight: 400;
	/*text-align: center;*/
	font-size: 24px;
}

/* CREDIT */
#c {
	background: #5A5A5A;
	padding: 20px;
	color: white;
}

#c p {
	font-size: 16px;
	color: #CCCCCC;
}

#c h4 {
	font-size: 18px;
}

/* OVERFLOW */
.of {
	overflow: hidden;
}

/* CUSTOM COLUMN OFFSET RIGHT */

.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}